## Описание задачи

Вы решаете задачу прогнозирования спроса в быстро развивающемся стартапе KarpovExpress, где кол-во новых товаров увеличивается на десятки штук каждый месяц. Прогноз продаж надо делать каждую неделю, а на товары-новинки нет данных и истории продаж. \
Ваша модель не выдает ничего адекватного и не умеет работать с NaN пропусками. \
Но есть идея - пропуски для товаров-новинок можно заполнить среднем значением продаж по категории этого товара! \
Ваша задача – дописать функцию fillna_with_mean, которая заполняет пропуски в колонке target ее средними значениями по группам. Группировка происходит по колонке group.

Важно: Ваша функция не прявазана к опреденному формату датасета, ниже дан пример для задачи прогнозирования спроса. \
Также Вы можете использовать этот подход для других задач, например:
* Оценка конверсии товаров - нужно заполнить пропуски для товаров-новинок.
* Предсказание ежедневных посещений сайта пользователями - нужно заполнить пропуски для новых пользователей.

## Решение:

In [107]:
import pandas as pd


def fillna_with_mean(df: pd.DataFrame, target: str, group: str) -> pd.DataFrame:
    """Fillna values in the target grouping by category feature."""
    dataframe_copy = df.copy()
    mean_target_transform = dataframe_copy.groupby(group)[target].transform("mean")
    dataframe_copy[target] = dataframe_copy[target].fillna(mean_target_transform)
    # Используем transform, чтобы на выходе получался датафрейм того же размера что и на входе
    return dataframe_copy

In [110]:
# Тестовый набор данных для проверки
import numpy as np
input_data =    {'monday': 
                  ['2020-01-05',
                   '2020-01-05',
                   '2020-01-05',
                   '2020-01-05',
                   '2020-01-05',
                   '2020-01-05',
                   '2020-01-05',
                   '2020-01-05',
                   '2020-01-05',
                   '2020-01-05'
                   ],
               'product_id': [14, 82, 42, 90, 67, 36, 71,47, 68, 9],
               'category': [14, 19, 4, 2, 19, 19, 19, 2, 2, 14],
               'sales': [45.0, np.NaN, 62.0, np.NaN, 38.0, 1.0, np.NaN, 41.0, 66.0, 55.0]
               }

df_test = pd.DataFrame(input_data)
print(df_test)
fillna_with_mean(df_test, "sales", "category")

       monday  product_id  category  sales
0  2020-01-05          14        14   45.0
1  2020-01-05          82        19    NaN
2  2020-01-05          42         4   62.0
3  2020-01-05          90         2    NaN
4  2020-01-05          67        19   38.0
5  2020-01-05          36        19    1.0
6  2020-01-05          71        19    NaN
7  2020-01-05          47         2   41.0
8  2020-01-05          68         2   66.0
9  2020-01-05           9        14   55.0

       monday  product_id  category  sales
0  2020-01-05          14        14   45.0
1  2020-01-05          82        19   19.5
2  2020-01-05          42         4   62.0
3  2020-01-05          90         2   53.5
4  2020-01-05          67        19   38.0
5  2020-01-05          36        19    1.0
6  2020-01-05          71        19   19.5
7  2020-01-05          47         2   41.0
8  2020-01-05          68         2   66.0
9  2020-01-05           9        14   55.0